<!-- 
  <ul class="list-group">
    <li [class]="getAllBrandClass()" routerLink= "/cars">All Cars</li>
      <li (click)="setCurrentBrand(brand)" 
      routerLink = "/cars/brand/{{brand.brandId}}"
      *ngFor="let brand of brands" 
      [class]="getCurrentBrandClass(brand)">{{brand.brandName}}</li>
    </ul>
    <h5 *ngIf="currentBrand">{{currentBrand.brandName}} choosed</h5> -->

    <h6>Select Brand:</h6>
    <select class="form-select" aria-label="Default select example">
      <option selected>All Brands</option>
      <option *ngFor="let brand of brands" value="{{brand.brandId}}">{{brand.brandName}}</option>
    </select>