<div class="card">
  <div class="card-header text-center">
    <div class="card-body">
      <div *ngIf="carImgs.length" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner  d-flex "
           style="height: 50vh; min-height: 20rem; max-height: 30rem">
  
            <div *ngFor="let image of carImgs; index as i; first as firstImage" class="carousel-item align-self-center" 
            [ngClass]="{ active: firstImage }" style="height: 100%; width: 100%">
               <img src="{{carImgPath}}{{image.imagePath}}" class="" style="height: 100%; width: 100%; object-fit: contain"
              alt="images + image.imagePath"/>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>

      <img *ngIf="!carImgs.length" src ="{{carImgPath}}/images/defaultCar.jpg" class="card-img-top"  width="50%" height="500">
  <table class = "table table-striped">
    <thead>
        <tr>
            <th>Model</th>
            <th>Car</th>
            <th>Model Year</th>
            <th>Color</th>
            <th>Daily Price</th>
            <th>Min. Findeks Score</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let car of cars">
        <td>{{car.brandName}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.dailyPrice |currency}}</td>
        <td>{{car.minFindeksScore}}</td>
    </tr>
  </tbody>
</table>

<div class="d-grid gap-2 col-6 mx-auto">
  <button *ngIf="rentalStatus == true" class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#rentalModal">Rent</button>
  <button *ngIf="rentalStatus == false" class="btn btn-success" disabled type="button">{{rentalStatusMsg}}</button>
</div>

    </div>
  </div>  
</div>

<app-rental-add *ngIf="rentalStatus == true" [car] = "cars"></app-rental-add>


