<table class = "table">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Car</th>
            <th>Customer</th>
            <th>Company</th>
            <th>User</th>
            <th>Rental Date</th>
            <th>Return Date</th>
            <th>Status</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tr *ngFor = "let rental of rentals">
        <td>{{rental.brandName}}</td>
        <td>{{rental.carName}}</td>
        <td>{{rental.customerFirstName}} {{rental.customerLastName}}</td>
        <td>{{rental.companyName}}</td>
        <td>{{rental.userName}}</td>
        <td>{{rental.rentalDate}}</td>
        <td>{{rental.returnDate}}</td>
        <td>-</td>
        <td>
            <button class="btn btn-primary" *ngIf="isDelivered(rental.carId)" style="margin-right: 16px" aria-label="Edit">
              Delivered
            </button>
        </td>
    </tr>
</table>