
<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded==true" class = "table table-striped">
    <thead>
        <tr>
            <th>Model</th>
            <th>Car</th>
            <th>Model Year</th>
            <th>Color</th>
            <th>Daily Price</th>
        </tr>
    </thead>
    <tr *ngFor = "let car of cars">
        <td>{{car.brandName}}</td>
        <td><a href="cars/cardetail/{{car.carId}}">{{car.carName}}</a></td>
        <td>{{car.modelYear}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.dailyPrice}}</td>
    </tr>
</table>